[submodule "neovim/kanagawa.nvim"]
	path = neovim/plugged/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim.git
[submodule "neovim/nvim-treehopper"]
	path = neovim/plugged/nvim-treehopper
	url = https://github.com/mfussenegger/nvim-treehopper.git
[submodule "neovim/nvim-tree.lua"]
	path = neovim/plugged/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "neovim/nvim-web-devicons"]
	path = neovim/plugged/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "neovim/vim-gutentags"]
	path = neovim/plugged/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
